{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <form method="get" action="">
        {{ filter_form.as_p }}
        <button type="submit" class="btn btn-light">Filter</button>
      </form>
    </div>

    <div class="col-md-6">
      <form method="get" action="">
        {{ search_form.as_p }}
        <button type="submit" class="btn btn-light">Search</button>
      </form>
    </div>
</div>

  <h1>
    Newspapers
    <a href="{% url 'agency:newspaper-create' %}" class="btn btn-secondary link-to-page">
      +
    </a>
  </h1>
  {% if newspaper_list %}
    <ul>
      {% for newspaper in newspaper_list %}
        <li>
          <h3><a href="{% url 'agency:newspaper-detail' pk=newspaper.id %}">{{ newspaper.title }}</a></h3>
          <h5>Topic: {{ newspaper.topic.name }}</h5>
          <p>{{ newspaper.content|truncatechars:500 }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no newspapers in service</p>
  {% endif %}
{% endblock %}


