{% extends "base.html" %}

{% block content %}
  <form action="" method="get">
    {{ form.as_p }}
    <button type="submit" class="btn btn-light">Search</button>
  </form>
    <h1>
      Redactors
    </h1>
    {% if redactor_list %}
    <table class="table">
      <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of experience</th>
        {% if user_in_admin_group %}
          <th>Delete</th>
        {% endif %}
      </tr>
    {% for redactor in redactor_list %}
      <tr>
        <td><a href="{% url 'agency:redactor-detail' pk=redactor.id %}">{{ redactor.username }} {% if user == redactor %} (Me){% endif %}</a></td>
        <td>{{ redactor.first_name }}</td>
        <td>{{ redactor.last_name }}</td>
        <td>{{ redactor.years_of_experience }}</td>
        {% if user_in_admin_group  or user.is_superuser%}
          <td><a href="{% url 'agency:redactor-delete' pk=redactor.id %}" class="btn btn-danger link-to-page">Delete</a></td>
        {% endif %}
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no redactors in the service.</p>
    {% endif %}
{% endblock %}
