{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Our Newspaper Agency</h1>
    <table class="table">
      <tr>
        <th>Explore Diverse Themes</th>
      </tr>
    <tr>
      <td>At Newspaper Agency, we believe in the power of information to inspire,
        connect, and empower communities. As a leading force in journalism, we bring you
        compelling stories, thought-provoking articles, and in-depth coverage on a wide range of
        topics.
      </td>
    </tr>
{% endblock %}
