{% extends "base.html" %}

{% block content %}
  <h2 style="padding-top: 20px">
    {{ newspaper.title }}
  </h2>
  <p>{{ newspaper.content }}</p>
  <div class="ml-3">
    <h4>Redactors:</h4>
    {% for redactor in newspaper.publishers.all %}
        <hr>
        <p>{{ redactor.username }} {% if user == redactor %} (Me){% endif %}</p>
    {% empty %}
      <p>No redactors!</p>
    {% endfor %}
  </div>
  {% if user in newspaper.publishers.all %}
    <a href="{% url 'media:newspaper-update' pk=newspaper.id %}" class="btn btn-primary link-to-page">
      Update
    </a>
    <a href="{% url 'media:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger link-to-page">
        Delete
    </a>
  {% endif %}
{% endblock %}
